body { font: 80% arial, helvetica, sans-serif; 
  margin: 0;
  background-color:white;
       
}

.header { font-size:10pt; 
	    background-color:#ebf3ff;
        height: 1.5em;
	    color:#666666;
}
.header a { text-decoration:none; color:#666666; padding:2px 10px 2px 5px; }
.header a:hover {text-decoration:underline; color:#000000;}
.header p {display:inline; padding:2px 10px 2px 5px;}


.bar { 
  background-color:#d6e8ff; 
  padding:0; margin:0; height: 5px;
  border-bottom:0.1em solid #003399;
}
  
.navigation { 
  float:left; 
  width: 15em; 
  font-size:8pt; 
  margin-left:0.5em;
  background-color:#d6e8ff; 
  border-right: #d6e8ff solid 1em;
}
.navigation ul { padding: 0; margin:0; list-style: none;}
.navigation ul li { 
  font:10pt tahoma; color:#204d89; padding:0; margin: 0;
  padding-left:5px; font-weight:bold; border-top:solid 1px #f2f8ff;
  border-bottom:solid 1px #d6e8ff;
}
.navigation ul li a { 
  font-weight:normal; font-size:0.8em; color:#003399;
  text-decoration: none; vertical-align:middle;
}
.navigation ul li ul {background-color:#f2f8ff;}
.navigation a:hover {  color:#000000; text-decoration:underline;}

.content{
        position:absolute;
        top:2.1em;
        left:13.8em;
        width: 85%;       
}
.content table tr th{
  text-align:left;
  border: 1px solid black; 
  padding: 0.1em 1em;
  background-color: white;
}
.content .heading a h3 { 
  border-bottom: 0.1em solid #83b0ec; 
}
.content .title { 
  color:navy; 
  font-weight:bold; 
  font-size:1.2em;
}
.content .new { color:green; }
.content .datetimestamp { float:right; }
.content p { border: white solid 0.1em;}

.content table {
  color:black;
  background-color: white;
  border-width:1px;
  text-align: left;
  padding: 0;
  width:100%;
  table-layout: float;
  border: #d6e8ff 0.1em solid;
  border-collapse:collapse;
}
.content .class1 {
  /*border: black 1em solid;*/
  background-color:#ebf3ff;
  font-weight:bold;
}
.content .class2 {
  background-color:silver;
}
.container { position: relative; width: 100%; }
.style1 {color:red;}

